body, h1, p, button {
    margin: 0;
    padding: 0;
  }
  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }
  .header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
  }
  
  .btn {
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color:red;
  }
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  @media (max-width: 768px) {
    .main {
      padding: 1rem;
    }
  }
  